spring:
  application:
    name: blog

  datasource:
    url: jdbc:postgresql://localhost:5432/blog
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: helloworldsuperlongsecret

